@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

img {
  width: 100%;
}

@media (max-width: 600px) {
  .navbar-responsive {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
  }
  .technologies-container {
    display: 'flex';
    flex-direction: column;
    align-items: center;
  }
}
